
.diceImg{
  height: 80px;
  width: 80px;
}
.table {
  width: 40%;
}
.listOfRules{
  display: none;
}
td input {
  width: 65%;
}
tr {
  text-align: center;
}
.bg-primary {
  margin-top: 60px;
  padding: 20px 25px 20px 25px;
}
.p2{
  display: none;
}
