
.diceImg{
  height: 80px;
  width: 80px;
}
.table {
  width: 65%;
}
.listOfRules{
  display: none;
}
td input {
  width: 65%;
}
tr {
  text-align: center;
}
.bg-primary {
  margin-top: 10px;
  padding: 20px 25px 20px 25px;
  font-size: 30px;
}
.bg-success {
  margin-top: 10px;
  padding: 20px 25px 20px 25px;
  color: red;
  font-size: 30px;
}
.highlightId {
  background-color: yellow;
}
.p2{
  display: none;
}
.jumbotron{
  text-align: center;
  color: blue;
}
