
.diceImg{
  height: 80px;
  width: 80px;
}
.table {
  width: 65%;
}
.listOfRules{
  display: none;
}
td input {
  width: 65%;
}
tr {
  text-align: center;
}
.bg-primary {
  margin-top: 60px;
  padding: 20px 25px 20px 25px;
}
.p2{
  display: none;
}
.navbar {
  margin: 0px;
}
.jumbotron{
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.jumbotron img {
  height: 10%;
  width:100%;
}
.modal-body {
  background-color: #cfdacf;
}
.modal-about-body {
  background-color: #f2d0cc;
}
